[submodule "frontend"]
	path = frontend
	url = https://github.com/setodeve/CatalogEasy-frontend
	branch = main
[submodule "backend"]
	path = backend
	url = https://github.com/setodeve/CatalogEasy-backend
	branch = main
